<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Membros em Foco{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Início</a>
            
            {% if 'user_id' in session %}
                <a href="{{ url_for('perfil') }}">Perfil</a>
                <a href="{{ url_for('logout') }}">Sair</a>
            {% else %}
                <a href="{{ url_for('cadastro') }}">Cadastro</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </nav>
    </header>
    
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
